<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Task Manager</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="navigation">
          <li><a routerLink="/addTask" routerLinkActive="active">Add Task</a></li>
          <li><a routerLink="/viewTask">View Task</a></li>
        </ul>
      </div>
    </div>
    <div class="mainWrapper">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


